.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    // padding: 20px 0;
}

.footer-icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    margin: 15px 20px;

    &:hover {
        opacity: 1;
    }
}