.hero {
  overflow: hidden;
  height: calc(100vh - 200px);
  display: flex;
  background-position: center;
  align-items: center;

  .container {
    max-height: 100%;
  }
  @include media-breakpoint-up(lg) {
    height: calc(100vh - 60px);
  }
}

.main-hero {
  background-image: url(/assets/img/hero@2x.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: 90%;

  &::before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.7) 51%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.inner-hero {
  padding-top: 20px;
}

.inner-more {
  font-size: 13px;
  position: absolute;
  width: 100%;
  bottom: -20px;
  text-transform: uppercase;
  text-align: center;
  @include media-breakpoint-up(lg) {
    bottom: 20px;
  }
  img {
    display: block;
    margin: 10px auto;
    opacity: 0.5;

    &:first-child {
      opacity: 0.25;
    }

    &:last-child {
      opacity: 1;
    }
  }
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-title,
.hero-subtitle {
  text-transform: uppercase;
}

.hero-title {
  font-weight: 800;
  margin-bottom: 0;
}

.hero-subtitle {
  font-weight: 300;
}

.hero-heading {
  margin-bottom: 40px;
}

.inner-heading {
  font-size: 24px;
  @include media-breakpoint-up(lg) {
    font-size: 60px;
  }
}

.method-hero {
  position: relative;
  background-image: url(/assets/img/method.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100% 60px;

  &::before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.7) 51%,
      rgba(255, 255, 255, 0) 100%
    );
  }

}
