.list {
  overflow: hidden;
}

.list-item {
  margin: 100px 0;
}

.list-number {
  height: 166px;
  position: relative;

  .list-number-content {
    font-weight: 800;
    font-size: 96px;

    color: theme-color(primary);

    text-shadow: 0px 10px 20px rgba(5, 153, 217, 0.3);
    transform: rotate(-90deg);
  }

  &::before {
    content: '';
    position: absolute;
    background: #f9f9f9;
    height: 14px;
    bottom: 14px;
    right: 0;
    left: -9999px;
  }
}

.list-text{
    font-size: 18px;
    line-height: 2;
}