.logo {
    display: flex;
    align-items: center;

    font-family: $font-family-monospace;
    font-weight: 700;
}

.logo-img {
    margin-right: 10px;
    max-width: 35px;
    max-height: 34px;
}

.logo-label {
    line-height: 1.3;
    font-size: 1rem;

    color: theme-color(primary);
}