.methods{
    
}


.method-text{

    margin: 30px;
}

.mobile{
    display: none;
}

.desktop{
    display: inline;
}

@media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px){ 
      .mobile {display: inline;}

      .desktop {display: none;}
  }