.questions {
    padding-bottom: 50px;
}

.form {
    padding: 50px 0 60px;
    background: theme-color(primary);

    .form-control {
        background: theme-color(primary);
        color: $white;
        border-color: $white;
        border-radius: 6px;

        &::placeholder {
            color: $white;
        }

        &:focus {
            box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.6);
            border-color: $white;
        }
    }

    .form-submit {
        min-width: 250px;
    }
}

.modal {
    text-align: center;

    .modal-header {
        border: 0;

        .close {
            margin-right: 0.25rem;
            margin-top: 0.1rem;
        }
    }

    .modal-body {
        padding-bottom: 50px;

        p {
            margin-bottom: 2rem;
            font-size: 16px;
            color: theme-color(light);
        }
    }

}