.quote {
  padding: 120px 0;
  font-size: 20px;

  @include media-breakpoint-up(lg) {
    font-size: 36px;
  }
}

.quote-content {
  display: flex;
  align-items: center;
  min-height: 200px;

  position: relative;
}

.quote-method {
  background-image: url('/assets/img/method-quote-bg.svg');
  background-repeat: no-repeat;
  background-position: 0% 100%;
  .quote-logo {
    bottom: -50px;
    right: 25px;
  }
}

.quote-author {
  .quote-logo {
    left: 25px;
    top: -50px;
  }
  .quote-sign {
    bottom: -50px;
    right: 50px;
  }
}

.quote-logo,
.quote-sign {
  position: absolute;
}

.quote-text {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
