<div class="inner-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 text-center">
                    <img
                        data-aos="fade-right"
                        data-margin-top="100"
                        src="/assets/img/method-factor-1.png"
                        srcset="/assets/img/method-factor-1@2x.png 2x"
                        />
                </div>
                <div class="col-md-7">
                    <article>
                            <p>
                                Еще один немаловажный фактор - чувство голода. Его стоит периодически испытывать для вашего здоровья. Человечество живет в пищевом изобилии только последние 40-50 лет. На протяжении тысячелетий частым спутником человека было состояние голода. В этом состоянии организм работает в особых режимах, благоприятных для поддержания здоровья современного человека.
                                </p> 
                            <p>
                                Это вовсе не означает, что нужно морить себя голодом. Временами было бы полезно проголодаться, скажем, к обеду или, пропустив ужин, с аппетитом позавтракать.
                            </p>
                            <p>Если вы хотя бы начнете замечать эти лишние перекусы, это будет большим шагом к вашему осознанному отношению к еде и стройности.
                            </p>
                            <p>Основа стройного тела, 90% питание и 10% физические нагрузки.
                                Поэтому, если вы уделите внимание только изменениям в питании вы достигнете результата и без тренировок.
                                </p>
                            <p>Эти простые рекомендации широко известны. Мало знать, нужно следовать им.
                            </p> 
                            <p>Если вы желаете постройнеть, то следуйте этим простым рекомендациям. При необходимости, перечитайте эти несколько абзацев о питании. Обратите внимание на выделенные тезисы. Осознанное отношение к еде приведет вас к изменениям в привычках питания и к стройности.</p>                            
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
