<div class="inner-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 text-center">
                    <img
                        data-aos="fade-right"
                        data-margin-top="100"
                        src="/assets/img/method-factor-5.png"
                        srcset="/assets/img/method-factor-5@2x.png 2x"
                        />
                </div>
                <div class="col-md-7">
                    <article>
                        <h3>
                            Упражнение «Большое будущее»
                        </h3>
                        <p><strong>Этим упражнением вы создаете и закрепляете уникальный мыслеобраз вашего желания. Вы сформируете ваше внутреннее устойчивое состояние обладания желаемым.
                            Для стройности, сформируйте образ вашего стройного тела. </strong></p>
                        <p>Как оно выглядит? Какие движения вы можете делать? Бегать, прыгать, садиться на шпагат, танцевать, плавать или что-то еще? Будьте в движении в вашей мысленной картине будущего, где у вас - стройное тело. Ощутите, каково это, обладать стройным телом.
                            При регулярном выполнении мысленных упражнений, ваш мыслеобраз будет становиться все реальнее. Он сам будет стремиться, воплотиться в реальность. Вы идете к вашему стройному телу, а оно - стремится к вам. Добавив к этому образу свое намерение, вы воплотите его.
                            </p>
                        <h3>
                            Упражнение «Близкое будущее» 
                        </h3>
                        <p><strong>Этим упражнением вы создаете намерение. Намерение - главный фактор в реализации желания. Намерение - это желание, преобразованное в действие. </strong></p>
                        <p>Вы начали действовать и готовы иметь результат. 
                            Например, вы сидите дома на диване и хотите пить. Ваше желание иметь стакан воды. Для реализации этого желания нужно намерение. Намерение - это переход от состояния покоя вашего тела - на диване, к началу действия - сходить на кухню к кувшину с водой и абсолютной готовности получить желаемое. Только обдумывание, без движения, не приведет вас к вашему желанию. 
                            </p>
                            <p><strong>То есть, для того, чтобы началось реализовываться ваше желание - стройное тело, нужно намерение. Начните и продолжите делать что-нибудь по направлению к цели. Пусть это будет самое маленькое и незначительное действие.</strong></p>
                        <p>Главное, вы запустили ваше намерение получить стройное тело. Когда вы двигаетесь к своему желанию, оно устремляется к вам. Когда вы останавливаетесь, реализация вашего желания тоже останавливается.</p>
                        <p>Выполняя упражнение «Близкое будущее», вы программируете ваши маленькие и легкие действия на сегодня-завтра. Представьте себе, что вы выполнили физические упражнения или прогулялись пешком, отказались сегодня от куска торта или заменили ваш плотный ужин легким и полезным перекусом или что-то еще. Не ограничивайте себя в ваших фантазиях. Важно в своих представлениях просто пожелать. Ваши желания свободны от исполнения и вас никто не заставляет делать, то что вы пожелали. Однако если захочется выполнить, что-то из мысленных картин, тоже не противьтесь этому. Это означает, что ваше желание иметь стройное тело начало исполняться под воздействием намерения.</p>
                        <p>Вы заметите, что действительно выполните что-то из задуманного. Сделаете физические упражнения или откажетесь от второго куска торта. Пропустите ужин или замените обычный прием пищи на легкий перекус. Вы не будете себя заставлять. Вы действительно захотите так сделать. </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
