<div class="inner-content">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center mobile"
                data-sticky-container>
                <img
                    class="js-sticky wow fadeInLeft"
                    data-margin-top="100"
                    src="/assets/img/method-factor-3.png"
                    srcset="/assets/img/method-factor-3@2x.png 2x"
                    />
            </div>
            <div class="col-md-7">
                <article>
                    <h3>
                        Упражнение «Благодарность»          
                    </h3>
                    <p><strong>Переводит ваше внутреннее состояние в область удовлетворения, умиротворения и радости. Эти ощущения и эмоции, напрямую связаны с получением чего-либо в вашей жизни, в том числе и стройного тела. </strong>
                    <p>Представьте себя в роли дарующего. Если вам искренне и глубоко благодарны, то возникает желание дать еще. Если ваш подарок принимается с равнодушием, рутинно и скучно, то возникнет ли у вас желание дарить снова?</p>
                    <p>Когда благодарность станет частью вашей жизни – успех, счастье и здоровье станут нормой. Чем больше причин для благодарности вы найдете, тем больше их будет. </p>
                    <p>Умение испытывать благодарность такой же навык, как любой другой, и его можно тренировать.
                    </p>
                    <p><strong>Если ваше основное желание постройнеть, то сделайте акцент на благодарности вашему телу и его возможностям. Благодарите за то, что у вас уже есть. Вы можете двигаться, ходить, бегать, приседать и многое другое. У вас работают органы и системы. И самое главное, в вашем теле есть огромный потенциал для того, чтобы стать стройным и здоровым. Поблагодарите ваше тело за это.                    </strong></p>
                </article>
            </div>
            <div class="col-md-5 text-center desktop"
                data-sticky-container>
                <img
                    class="js-sticky"
                    data-aos="fade-left"
                    data-margin-top="100"
                    src="/assets/img/method-factor-3.png"
                    srcset="/assets/img/method-factor-3@2x.png 2x"
                    />
            </div>
        </div>
    </div>
</div>
