<div class="inner-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 text-center">
                    <img
                        data-aos="fade-right"
                        data-margin-top="100"
                        src="/assets/img/method-factor-4.png"
                        srcset="/assets/img/method-factor-4@2x.png 2x"
                        />
                </div>
                <div class="col-md-7">
                    <article>
                        <h3>
                            Мысленные упражнения в приложении Мечтай и стройней
                        </h3>
                        <p>Выполнение комплекса мысленных упражнений приведет вас в необходимое ресурсное состояние для слияния вашего желания и намерения. И этот союз приведет вас к желаемому результату.</p>
                        <p>Комплекс состоит из четырех упражнений: «Расслабление», «Благодарность», «Большое будущее» и «Близкое будущее». Выполняйте комплекс в удобном положении сидя или лежа, с закрытыми глазами, в любое время. Всего 4 минуты, один раз в день.</p>
                        <h3>Упражнение «Расслабление» </h3>
                        <p>Это упражнение, переводит электрические колебания головного мозга из бета диапазона (состояние активного бодрствования и взаимодействия с окружающей средой) в альфа диапазон (расслабленное состояние бодрствования и покоя).</p>
                        <p>Вы формируете навык испытывать покой и умиротворение. Таким образом, вы создаете благоприятный, для вашей стройности, химический и гормональный баланс вашего организма. 
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
