<div class="inner-content">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center mobile"
                data-sticky-container>
                <img
                    class="js-sticky wow fadeInLeft"
                    data-margin-top="100"
                    src="/assets/img/method-factor-2.png"
                    srcset="/assets/img/method-factor-2@2x.png 2x"
                    />
            </div>

            <div class="col-md-7">
                <article>
                    <h3>
                        Мысли и эмоции
                    </h3>
                        <p>Человек влияет своими мыслями и эмоциями на гормональный и химический состав своего тела.</p>
                        <p>Начиная с легко ощущаемого повышения слюноотделения при мысли о лимоне, до состояния хронического стресса органов и систем, вызванного внутренним дисбалансом из-за негативных мыслей - это все влияние мыслей и эмоций на тело. </p>
                        <p>Состояние беспокойства, переживаний, злости имеет один химический состав, а состояние покоя, умиротворения и радости совсем другой. </p>
                        <p>В состоянии стресса происходит выброс гормонов, которые необходимы нам для выживания в критической ситуации. При длительном воздействии эти гормоны губительны для организма. И тело, зная это, стремится инактивировать гормоны стресса после завершения экстремальной ситуации для здорового функционирования организма. </p>
                        <p>Человек же, как существо гораздо более умное, на месте антилопы извел бы себя мыслями о своем будущем, придя к выводу, что в итоге он все равно будет съеден хищниками.
                        </p>
                        <h3>Наш ум становится источником страдания для тела. </h3>
                        <p>Мысленное «прокручивание» неприятных жизненных сценариев и переживания - бессмысленны. Переживания никак не влияют на конечный результат, скорее мешают нам принимать правильные решения и действовать обдуманно. Человек не может полностью оградить себя от эмоциональных переживаний. Но мы можем выбирать: полностью отдаться переживаниям или попытаться отвлечься от переживаний, насколько это возможно. Чем более вы спокойны, тем более верное решение выберите в каждой конкретной ситуации. И тем здоровее внутренний гормональный и химический состав вашего тела. </p>
                        <p>Постоянное прокручивание в голове негативных сценариев из прошлого и будущего ведет к патологическому химическому составу тела. Как следствие, изменяется метаболизм организма, формируются неправильные привычки и пристрастия в питании. Это напрямую влияет на появление лишнего веса. </p>
                        <h3>Чтобы быть стройным и здоровым, нужно соблюдать гигиену мыслей и эмоций. Осознавайте свои негативные мысли и эмоции и переводите внимание на что-то положительное или нейтральное. </h3>
                        <p>Когда вашим естественным состоянием будет покой и умиротворённость, гормональный и химический состав вашего тела станет наилучшим для долгой и здоровой жизни. 
                        </p>
                </article>
            </div>
            <div class="col-md-5 text-center desktop"
                data-sticky-container>
                <img
                    class="js-sticky wow fadeInLeft"
                    data-margin-top="100"
                    src="/assets/img/method-factor-2.png"
                    srcset="/assets/img/method-factor-2@2x.png 2x"
                    />
            </div>
        </div>
    </div>
</div>
