<section id="inner-hero" class="hero inner-hero method-hero">
    <div class="container">
        <div class="hero-content wow fadeInUp">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <article class="hero-heading">
                        <h1 class="inner-heading hero-title"><span
                                class="hero-subtitle">Комплекс</span>
                            <span class="text-primary">мысленных упражнений</span></h1>
                        <h1 class="inner-heading hero-subtitle text-muted">мечтай
                            и стройней</h1>
                    </article>
                </div>
                <div class="col-md-4 text-center">
                </div>
            </div>
        </div>
    </div>
    <div class="inner-more">
        Ознакомьтесь пожалуйста
        <img src="/assets/icons/more.svg" alt="">
        <img src="/assets/icons/more.svg" alt="">
        <img src="/assets/icons/more.svg" alt="">
    </div>
</section>