<div class="inner-content">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <article>
                    <h3>
                        Обратите внимание, что вы едите и чем запиваете. Как выглядит ваша еда и как пахнет? 
                    </h3>
                    <p>И если вам, что-то не нравится, то стоит ли это есть? Если это приятная еда, то насладитесь ее видом и запахом до того, как приступите к ней. 
                    </p>
                    <p>Пожелайте своей пище пойти вам на благо, и ваша еда выполнит ваше пожелание. Она станет вашим здоровым телом.  
                    </p>  
                    <p>Важным критерием правильного питания служит ваше ощущение после приема пищи. Ваше тело сообщит вам о количестве и качестве съеденной еды. Если есть неприятные ощущения тяжести, распирания, затруднения дыхания, вялости и сонливости, значит еда не пошла вам на пользу. 
                    </p>
                </article>
            </div>
            <div class="offset-md-1 col-md-4 text-center" data-sticky-container>
                <img
                    class="js-sticky wow fadeInLeft"
                    data-margin-top="100"
                    src="/assets/img/method-right.png"
                    srcset="/assets/img/method-right@2x.png 2x"
                    />
            </div>
            
        </div>
    </div>
</div>