<section class="quote quote-method text-white bg-primary">
    <div class="container quote-content">
        <div class="quote-text">
            В ваших силах в следующий раз, съесть столько, чтобы после еды, чувствовать себя приятно и бодро.
        </div>
        <img src="/assets/img/quote-logo.svg" alt="" class="quote-logo">
    </div>
</section>