<section class="quote quote-method text-white bg-primary">
    <div class="container quote-content">
        <div class="quote-text">
            Процесс вашего преобразования будет происходить также естественно, без насилия, легко и гармонично.
        </div>
        <img src="/assets/img/quote-logo.svg" alt="" class="quote-logo">
    </div>
</section>