<div class="inner-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center" data-sticky-container>
                <img
                    class="js-sticky wow fadeInRight"
                    data-margin-top="100"
                    src="/assets/img/method-left.png"
                    srcset="/assets/img/method-left@2x.png 2x"
                    />
            </div>
            <div class="col-md-7 offset-md-1">
                <article>
                    <h3>
                        Питание
                    </h3>
                    <p>
                        Ваше тело – это набор продуктов, съеденных вами ранее. Ни больше, ни меньше. Стоит задумываться, из чего вы строите свое тело. Пусть это будут полезные и разнообразные продукты. 
                    </p>
                    <p>
                        Прием пищи тоже требует вашего внимания. Есть ли у вас выделенное время для еды или вы едите «на ходу»? Лишний вес может формироваться из-за привычки читать, смотреть фото и видео во время еды. В этом случае, вы съедаете больше, чем вам нужно.
                    </p>
                </article>
            </div>
        </div>
    </div>
</div>