h1 {
    font-size: $h1-font-size;

    @include media-breakpoint-up(lg) {
        font-size: $h1-font-size-lg;
    }
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: theme-color(primary);
    margin-bottom: 40px;
}

h3 {
    line-height: 24px;
    margin-bottom: $paragraph-margin-bottom;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 30px;
    // font-size: $h3-font-size;

    //     @include media-breakpoint-up(lg) {
    //         font-size: $h3-font-size-lg;
    //     }
}

// h4 {
//     font-size: $h4-font-size;

//     @include media-breakpoint-up(lg) {
//         font-size: $h4-font-size-lg;
//     }
// }

h5 {
    text-transform: none;
//     margin-bottom: 32px;
//     line-height: 32px;
}

h6 {
    line-height: 24px;
    margin-bottom: $paragraph-margin-bottom;
    font-size: $h6-font-size;
    //     line-height: 1.1;

    //     @include media-breakpoint-up(lg) {
    //         font-size: $h6-font-size-lg;
    //     }
}

// small {
//     font-size: $font-size-sm;
//     opacity: 0.5;
//     text-transform: uppercase;
// }

p {
    line-height: 24px;

    a {
        color: theme-color(dark);
        text-decoration: underline;
    }


}

ol {
    list-style: none;
    counter-reset: article-counter;
    padding-left: 36px;

}

ol li {
    position: relative;
    counter-increment: article-counter;
    line-height: 24px;
    margin-bottom: 15px;
}

ol li::before {
    content: counter(article-counter);
    position: absolute;
    left: -36px;
    color: theme-color('disabled');
    font-size: 20px;
    line-height: 27px;
    font-weight: bold;
}

label{
    margin-bottom: 0;
    font-weight: 600;
}