<div id="success-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header align-items-end">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
            <img src="/assets/icons/close.svg" alt="">
        </button>
      </div>
      <div class="modal-body">
        <h2>Успешно отправлено</h2>
        <p>
          Благодарим вас за обращения. <br />
          Мы скоро вам ответим!
        </p>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          aria-label="Close"
        >
          Хорошо
        </button>
      </div>
    </div>
  </div>
</div>
