<section class="container questions">
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>FAQ</h2>
      <div class="accordion accordion-inner" id="accordionExample">

      </div>
    </div>
  </div>
</section>
