<section id="author" class="author page">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 text-center d-none d-lg-block" data-sticky-container>
        <img
          data-margin-top="100"
          class="js-sticky wow fadeInRight"
          src="/assets/img/author.png"
          srcset="/assets/img/author@2x.png 2x"
          />
      </div>
      <div class="col-lg-7">
        <h2>Минута для спортивного тела в приложении Мечтай и стройней</h2>
        <div class="d-lg-none text-center">
          <img
            class="wow fadeInUp"
            src="/assets/img/author.png"
            srcset="/assets/img/author@2x.png 2x"
            />
        </div>
        <article>
          <h3>Данная методика удобная и простая в выполнении, что способствует соблюдению регулярности.</h3>
          <p>
            В случае хронических заболеваний перед началом тренировок лучше посоветоваться с врачом.
          </p>
        </article>
        <article>
          <h3>
            Почему бросают тренировки.
          </h3>
          <p>
            Все мы знаем о пользе физических упражнений. Информации по данному вопросу огромное количество от самых разных авторов. Предлагается широчайший выбор различных комплексов физических упражнений от самых разных тренеров и инструкторов. Казалось бы, все благоволит тому, чтобы физкультурой занималось все большее и большее количество людей. Однако, тренировки не стали частью жизни большинства людей. Мы это видим по количеству не спортивных людей на улицах наших городов и по количеству хронических больных из-за гиподинамии. Недостаток движения у современного человека становится серьезной и глобальной проблемой.  
Многие люди, вдохновившись, начинают заниматься физкультурой и спортом. Но, как показывает практика, рано или поздно, бросают занятия. 
Есть много причин по которым люди бросают выполнять упражнения. Это нехватка времени, тренировки требуют определенного оборудования или места, тяжело выполнять упражнения, тренировка долгая, нет желания сделать это прямо сейчас. Если мы уменьшим или вовсе уберем влияние этих причин, то значительно повышается вероятность того, что вы не бросите делать упражнения в долгосрочной перспективе.
          </p>
        <a href="author.html" class="btn btn-lg btn-outline-primary">Узнать о методике…</a>
      </div>
    </div>
  </div>
</section>
