<section id="faq" class="faq">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="page-sm wow fadeInRight">
          <h2 class="text-dark">
            FAQ
          </h2>
          <partial src="_accordion.html"></partial>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="page-sm wow fadeInLeft">
          <h2 class="text-dark">
            Консультация
          </h2>
          <partial src="_form.html"></partial>
        </div>
      </div>
    </div>
  </div>
</section>
