<!-- footer -->
<footer class="footer">
  <a href="#" class="footer-icon" >
    <img src="/assets/icons/instagram.svg"  alt="" />
  </a>
  <a href="#" class="footer-icon" >
    <img src="/assets/icons/facebook.svg" alt="" />
  </a>
  <a href="#" class="footer-icon" >
    <img src="/assets/icons/appstore.svg" alt="" />
  </a>
  <a href="#" class="footer-icon" >
    <img src="/assets/icons/playmarket.svg" alt="" />
  </a>
</footer>
<!-- /footer -->

<script src="assets/scripts.min.js"></script>
