<!-- header -->
<header>
  <nav
    class="navbar navbar-expand-lg fixed-top navbar-light bg-white js-header">
    <div class="container">
      <a class="navbar-brand mr-auto logo" href="index.html">
        <img
          class="logo-img"
          src="assets/img/logo.png"
          srcset="assets/img/logo@2x.png 2x"
          />
        <span class="logo-label">
          Мечтай <br />
          и стройней
        </span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="tel:+77777777777">
              <img src="assets/icons/phone.svg" class="nav-icon" />
              <span class="nav-label">+7 (777) 777 77 77</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:email@mail.mail">
              <img src="assets/icons/email.svg" class="nav-icon" />
              <span class="nav-label">email@mail.mail</span>
            </a>
          </li>
          <li class="nav-item d-none d-lg-flex">
            <span class="nav-description">Скачать приложение</span>
            <a class="nav-link nav-mobile" href="http://itunes.com">
              <img src="assets/icons/appstore.svg" class="nav-icon" />
            </a>
            <a class="nav-link nav-mobile" href="http://play.google.com">
              <img src="assets/icons/playmarket.svg" class="nav-icon" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="nav-item social-links d-lg-none">
    <span class="nav-description">Скачать приложение</span>
    <a class="nav-link nav-mobile" href="http://itunes.com">
      <img src="assets/icons/appstore.svg" class="nav-icon" />
    </a>
    <a class="nav-link nav-mobile" href="http://play.google.com">
      <img src="assets/icons/playmarket.svg" class="nav-icon" />
    </a>
  </div>
</header>
<!-- /header -->
