<section id="hero" class="hero js-hero main-hero">
    <div class="container">
        <div class="hero-content wow fadeInUp">
            <article class="hero-heading">
                <h1 class="hero-title">Мечтай</h1>
                <h1 class="hero-subtitle">и стройней</h1>
            </article>
            <h2 class="btn">Четыре минуты тишины и покоя для вашего стройного тела.</h2>
        </div>
    </div>
</section>