<section id="methods" class="methods page">
  <div class="container">
    <div class="row methods-row">
      <div class="col-lg-8">
        <h2>Комплекс мысленных упражнений в приложении Мечтай и стройней</h2>
        <div class="d-lg-none text-center">
          <img
            class="wow fadeInUp"
            src="/assets/img/methods.png"
            srcset="/assets/img/methods@2x.png 2x"
            />
        </div>
        <article>
          <h3>С помощью упражнений из приложения, вы настроите свое внутреннее состояние и внешние условия на реализацию вашего желания постройнеть. </h3>
          <p>
            Для понимания процесса похудения, уделите ваше время и внимание нижеизложенной информации. Объясняющие видео и описание техники выполнения мысленных упражнений, вы найдете в самом приложении Мечтай и стройней.
          </p>
          <p>
            Ознакомьтесь со всей предложенной информацией и вам будет легко следовать методике до получения результата. 
          </p>
        </article>
        <article>
          <h3>
            Стать стройной, не прикладывая особых усилий, само собой - возможно.
          </h3>
          <p>
            Ведь для того чтобы набрать вес, тоже не нужно прикладывать особых усилий, все получается, само собой. Организм человека делает это самостоятельно.
          </p>
          <p>
            Вот так же без усилий можно и скинуть вес. Это тоже сделает ваш организм самостоятельно. Нужно помочь ему повернуть процесс в обратную сторону.
          </p>
          <p>
            Для этого нужно выполнять комплекс мысленных упражнений, 4 минуты в день в тишине и покое. Важно понимать процесс вашего похудения, что и зачем вы делаете. 
          </p>
        </article>
        <article>
          <h3>
            Разумность вашего тела
          </h3>
          <p>
            Ваше тело — это набор функционирующих органов и систем. Автономный и разумный биологический механизм, который обеспечивает вашу жизнь. 
          </p>
          <p>
            Разумность и автономность вашего тела проявляется прямо сейчас, когда вы читаете эти строки.
          </p>
          <p>
            В вашем теле происходят миллионы химических реакций и физиологических процессов. Сердце перекачивает кровь по сосудам, желудочно-кишечный тракт переваривает съеденную пищу, печень очищает от токсинов, почки выводят отходы и многое-многое другое. Вы при этом можете вообще ничего не делать, даже спать. Сознательно вы никак не контролируете эти процессы.
          </p>
          <p>
            А они происходят, слаженно, своевременно и без ошибок. 
          </p>
          <p>
            Похоже на то, что ваше тело имеет сознание, автономное от вашего сознания. 
          </p>
          <p>
            Ваше тело знает много того, чего не знаете вы.
          </p>
        </article>
        <article>
          <h3>Сознание тела - умное, трудолюбивое и очень мотивированное на сохранение вашего здоровья и жизни.</h3>
          <p>Поэтому для здоровой и гармоничной жизни стоит прислушиваться к вашему телу и научиться понимать его.
          </p>
          <p>
            Чтобы понять ваше тело, подумайте, как вы влияете на него.
          </p>
          <p>
            То, как вы выглядите внешне напрямую зависит от здоровья вашего тела.          </p>
          <p>
            Стройное тело – это здоровое тело.
          </p>
        </article>
        <article>
          <h3>
            Питание
          </h3>
          <p>
            Ваше тело – это набор продуктов, съеденных вами ранее. Ни больше, ни меньше. Стоит задумываться, из чего вы строите свое тело. Пусть это будут полезные и разнообразные продукты. Что и как мы едим? Отнеситесь к этому аспекту с должным пониманием.
          </p>
          <a href="method.html" class="btn btn-lg btn-outline-primary">Для вдохновения и большего понимания, прочтите далее…</a
          >
        </article>
      </div>
      <div class="col-lg-4 d-none d-lg-block" data-sticky-container>
        <img
          data-margin-top="100"
          class="js-sticky wow fadeInLeft"
          src="/assets/img/methods.png"
          srcset="/assets/img/methods@2x.png 2x"
          />
      </div>
    </div>
  </div>
</section>
