<ul id="scrollspy" class="scrollspy" class="nav smooth-scroll clearfix d-none
    d-sm-flex flex-column">
    <li class="nav-item"><a class="nav-link" href="#hero"><span></span></a></li>
    <li class="nav-item"><a class="nav-link" href="#methods"><span></span></a></li>
    <li class="nav-item"><a class="nav-link" href="#author"><span></span></a></li>
    <li class="nav-item"><a class="nav-link" href="#faq"><span></span></a></li>
    <li class="nav-item"><a class="nav-link" href="#video"><span></span></a></li>
</ul>