<div class="inner-content">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <article>
                    <p>Что можно сделать за минуту? Отжимания, 15-20 секунд размять руки и плечи и сделать до 30 отжиманий. Приседания, 10-15 секунд размять суставы ног и сделать 12 приседаний. Если вы простоите в планке 40 секунд и более это очень хорошая нагрузка за столь короткое время. Если количество отжиманий, приседаний, которые вы можете сделать, меньше выше обозначенных, то и времени понадобится не минута, а меньше. Меньше минуты в день. Это тот комфортный минимум, который даст максимальный результат. Сделать тренировку гораздо легче, когда вы знаете, что через минуту вы уже закончите.</p>
                    <p><strong>Должно быть комфортно.</strong><p>
                    <p>Выполняйте упражнения без сверх напряжений. С усилием и настойчивостью, чтобы мышцы поработали, но без сверх усилий. Выдавайте 70-80% своего максимального результата. Если ваш предел отжиманий или приседаний 10 раз, то делайте 7-8. Если на пределе может простоять в планке минуту, стойте 40-45 секунд. Такой техникой вы с одной стороны нагружаете и прорабатываете мышцы, а с другой стороны не страдаете сами. Если вам будет сильно тяжело, вероятность бросить повышается. В следующий раз ваше подсознание найдет тысячу причин и отговорок, почему вам не стоит делать упражнения. Остерегайтесь этого внутреннего саботажника. Не давайте ему голоса. Вспомнили об упражнениях, сразу же сделайте.</p>
                </article>
            </div>
            <div class="offset-md-1 col-md-4 text-center" data-sticky-container>
                <img
                    class="js-sticky wow fadeInLeft"
                    data-margin-top="100"
                    src="/assets/img/author-right.png"
                    srcset="/assets/img/author-right@2x.png 2x"
                    />
            </div>
        </div>
    </div>
</div>
