<section class="list">
    <div class="container">
        <div class="text-center">
            <h2>Движущий фактор методики – накопительный эффект.</h2>
        </div>
        <div class="row list-item align-items-center">
            <div class="col-2">
                <div class="list-number">
                    <div class="list-number-content">
                        01
                    </div>
                </div>
            </div>
            <div class="offset-1 col-9">
                <div class="list-text">
                        <strong>Регулярность формирует накопительный эффект.</strong>
                        </br>
                        Регулярно – это пять раз в неделю.
Представьте, как ваше тело откликнется на ваше маленькое внимание к нему через месяц, три месяца, полгода и год. Какие прекрасные изменения произойдут за это время.
</br></br>
                Пропуски – основной барьер на пути к стройности. Пропуски коварны не сами по себе, а тем, что после нескольких пропусков у вас возникает желание бросить занятия вообще. Вот это желание бросить насовсем, и есть барьер который отделяет вас от стройности. Решение простое.
                </div>
            </div>
        </div>
        <div class="row list-item">
            <div class="col-2">
                <div class="list-number">
                    <div class="list-number-content">
                        02
                    </div>
                </div>
            </div>
            <div class="offset-1 col-9">
                <div class="list-text">
                        <strong>Не обращайте внимания на свои пропуски.</strong></br>
                        Старайтесь не пропускать. Но если пропустили день, два, три, неделю, две недели, да сколько угодно, не бросайте насовсем. Продолжите, как только найдете в себе силы, вдохновение или дисциплину.
                </div>
            </div>
        </div>
        <div class="row list-item">
            <div class="col-2">
                <div class="list-number">
                    <div class="list-number-content">
                        03
                    </div>
                </div>
            </div>
            <div class="offset-1 col-9">
                <div class="list-text">
                        <strong>Накапливайте свои мини тренировки</strong></br>
                        Используйте приложение Мечтай и стройней для достижения своего желания - стройного тела. Для вашего удобства, в приложении есть помощник в выполнении спортивных упражнений, функция напоминаний для соблюдения регулярности и статистика ваших тренировок.</br></br>
                       Радуйтесь жизни и будьте стройными! 
                </div>
            </div>
        </div>
    </div>
</section>
