<section class="quote quote-author text-white bg-primary">
    <div class="container quote-content">
        <div class="quote-text">
                Сделать тренировку гораздо легче, когда вы знаете, что через минуту вы уже закончите.
        </div>
        <img src="/assets/img/quote-logo.svg" alt="" class="quote-logo">
        <img src="/assets/img/quote-sign.svg" alt="" class="quote-sign">
    </div>
</section>
