<div class="inner-content">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 text-center">
                <img
                    class="wow fadeInRight"
                    data-margin-top="100"
                    src="/assets/img/author-left.png"
                    srcset="/assets/img/author-left@2x.png 2x"
                    />
            </div>
            <div class="col-md-7 offset-md-1">
                <article>
                    <h3>Простота и удобство методики способствует соблюдению регулярности
                    </h3>
                    <p>В случае хронических заболеваний перед началом тренировок лучше посоветоваться с врачом.</p>
                    <p><strong>Методика</strong></p>
                    <p>Для выполнения минуты для спортивного тела выберите одно простое упражнение, которое вы будете выполнять. В приложении Мечтай и стройней, представлены Отжимания, Приседания и Планка. Если вам нравятся другие упражнения, то делайте их.</p>
                    <p>Отжимания, приседания или планка, каждое из этих упражнений задействует группы мышц. Одним упражнением вы напрягаете большое количество мышц, и тренируете их. Такие движения естественные для вашего тела, поэтому выполнять их не сложно.</p>
                    <p>Для занятий вам не потребуется специального помещения и оборудования. Упражнения можно делать везде, если только вы не смущаете этим окружающих. Дополнительно, о технике выполнения отжиманий, приседаний или планки, вы можете найти достаточно информации в интернете.</p>
                    <p>Делайте упражнение один раз в день, одну минуту в любое удобное для вас время. Всего один подход и тренировка окончена.</p>
                </article>
            </div>
        </div>
    </div>
</div>
